VITE_API_URL=http://localhost:5000/api/v1
VITE_APP_NAME=BORHS Data
VITE_PAYSTACK_PUBLIC_KEY=pk_live_xxxxxxxxxxxxxxxxxxxxxxxx
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-xxxxxxxxxxxxxxxxxxxxxxxx
VITE_IDLE_TIMEOUT_MINUTES=10
